{% extends "base.html" %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/addStudent.css' %}">
<form action="" method="POST" class="w-50 mx-auto my-5 p-5 bg-info sm-form">
    {% csrf_token %}
    <div class="mb-3">
        <label for="sname" class="form-label" required>Student Name: </label><br>
        <input type="text" class="form-control mb-3" name="sname" id="sname" placeholder="enter student name" value="{{form_data.sname|default:''}}">
        {% if errors.name %}
        <p class="text-danger">{{errors.name}}</p>
        {% endif %}
    </div>
    <div class="mb-3">
        <label for="semail" class="form-label">Student Email</label><br>
        <input type="email" class="form-control mb-3" name="semail" id="semail" placeholder="enter student email" value="{{form_data.semail|default:''}}">
        {% if errors.email %}
        <p class="text-danger">{{errors.email}}</p>
        {% endif %}
    </div>
    <div class="mb-3">
        <label for="scourse" class="form-label">Select Course</label><br>
        <select class="form-select mb-3" aria-label="Default select example" id="scourse" name="scourse" required>
            {% if form_data.scourse %}
            <option selected value="{{form_data.scourse}}"></option>
            {% endif %}
            <option selected value="Python Full Stack">Python Full Stack</option>
            <option value="Java Full Stack">Java Full Stack</option>
            <option value="Data Science and AI Ml">Data Science and AI Ml</option>
            <option value="Cybersecurity">Cybersecurity</option>
            <option value="Devops">Devops</option>
            <option value="AWS">AWS</option>
        </select>
    </div>
    <div class="mb-3">
        <label for="sage" class="form-label">Student Age</label><br>
        <input type="number" class="form-control mb-3" name="sage" id="sname" placeholder="enter student age"value="{{form_data.sage|default:''}}" required>
        {% if errors.age %}
        <p class="text-danger">{{errors.age}}</p>
        {% endif %}
    </div>
    <div class="mb-3">
        <label for="scity" class="form-label">Student City</label><br>
        <input type="text" class="form-control mb-3" name="scity" id="sname" value="{{form_data.scity|default:''}}" placeholder="enter student city" required>
    </div>
    <div class="mb-3">
        <label for="sphone" class="form-label">Student Phone</label><br>
        <input type="text" class="form-control mb-3" name="sphone" id="sphone" value="{{form_data.sphone|default:''}}" placeholder="enter student phone" required>
        {% if errors.phone %}
        <p class="text-danger">{{errors.phone}}</p>
        {% endif %}
    </div>
    <button type="submit" class="btn btn-success">ADD STUDENT</button>
</form>
{% endblock %}